            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../../assets/contenidos/Captura1.JPG" alt=""  class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400">
                    <div class="carousel-caption">
                        <h1>Tu mercado a domicilio al instante</h1>
                        <p>Fruver es más que frutas y verduras. Encuentra tus marcas favoritas y mucho más, sin cargo extra, envío gratis y en menos de 30 minutos.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../../../assets/contenidos/Captura2.JPG" alt=""  class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400">
                    <div class="carousel-caption">
                        <h2>Frutas</h2>
                        <p>Envío gratis por compras superiores a $300.000</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../../../assets/contenidos/Captura3.JPG" alt=""  class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400">
                    <div class="carousel-caption">
                        <h2>Pagos</h2>
                        <p>Aceptamos todos los medios de pago</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <app-trading></app-trading>
              <h3 class="d-flex justify-content-center" >Tiendas </h3>
              <app-tarjetas></app-tarjetas>
              <div class="container mt-4">
                <app-botones (filtroSeleccionado)="filtroActual = $event"></app-botones>
                <app-tarjetas-frutas [filtroActual]="filtroActual"></app-tarjetas-frutas>
              </div>

              <app-carrito></app-carrito>





