<div class="container md-6 mt-5 p-3" style="max-width: 800px;" >
    <div class="d-flex justify-content-between mt-4 mb-4 g-2">
        <div class="card-image">
            <img src="../../../../assets/contenidos/alverja.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="card-body">
            <h3 class="card-title">Alverja</h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-price">
            <div class="cardtotal">
                 <span class="cardtotal">Precio: {{99.99|currency}}</span>
            </div>
            <div class="categoriaProduct">
                <div>
                    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                    <label class="btn btn-secondary" for="option1">Unidad</label>

                    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                    <label class="btn btn-secondary" for="option2">250g</label>

                    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                    <label class="btn btn-secondary" for="option3">Libra</label>
                </div>
                <h5>Categoria</h5>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">3</label>
                  </div>
            </div>
            <a href="#" class="btn btn-primary"> Agregar al carro </a>
            <div class="card-quantity">
                <button>+</button>
                <span class="cardquantity">1</span>
                <button>-</button>
            </div>
        </div>
    </div>
</div>
<div class="container md-6 mt-5 p-3" style="max-width: 800px;" >
    <div class="d-flex justify-content-between mt-4 mb-4 g-2">
        <div class="card-image">
            <img src="../../../../assets/contenidos/apples-1872997_1280.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="card-body">
            <h3 class="card-title">Manzana Roja</h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-price">
            <div class="cardtotal">
                <span class="cardtotal"> Precio: {{99.99|currency}}</span>
            </div>
            <div class="categoriaProduct">
                <div>
                    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                    <label class="btn btn-secondary" for="option1">Unidad</label>

                    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                    <label class="btn btn-secondary" for="option2">250g</label>

                    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                    <label class="btn btn-secondary" for="option3">Libra</label>
                </div>
                <h5>Categoria</h5>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">3</label>
                  </div>
            </div>
            <a href="#" class="btn btn-primary"> Agregar al carro </a>
            <div class="card-quantity">
                <button>+</button>
                <span class="cardquantity">1</span>
                <button>-</button>
            </div>
        </div>
    </div>
</div>
<div class="container md-6 mt-5 p-3" style="max-width: 800px;" >
    <div class="d-flex justify-content-between mt-4 mb-4 g-2">
        <div class="card-image">
            <img src="../../../../assets/contenidos/Arandanos.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="card-body">
            <h3 class="card-title">Arandanos</h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-price">
            <div class="cardtotal">
                <span class="cardtotal"> Precio: {{99.99|currency}}</span>
            </div>
            <div class="categoriaProduct">
                <div>
                    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                    <label class="btn btn-secondary" for="option1">Unidad</label>

                    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                    <label class="btn btn-secondary" for="option2">250g</label>

                    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                    <label class="btn btn-secondary" for="option3">Libra</label>
                </div>
                <h5>Categoria</h5>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">3</label>
                  </div>
            </div>
            <a href="#" class="btn btn-primary"> Agregar al carro </a>
            <div class="card-quantity">
                <button>+</button>
                <span class="cardquantity">1</span>
                <button>-</button>
            </div>
        </div>
    </div>
</div>
<div class="container md-6 mt-5 p-3" style="max-width: 800px;" >
    <div class="d-flex justify-content-between mt-4 mb-4 g-2">
        <div class="card-image">
            <img src="../../../../assets/contenidos/brocoli.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="card-body">
            <h3 class="card-title">Brocoli</h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-price">
            <div class="cardtotal">
                <span class="cardtotal"> Precio: {{99.99|currency}}</span>
            </div>
            <div class="categoriaProduct">
                <div>
                    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                    <label class="btn btn-secondary" for="option1">Unidad</label>

                    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                    <label class="btn btn-secondary" for="option2">250g</label>

                    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                    <label class="btn btn-secondary" for="option3">Libra</label>
                </div>
                <h5>Categoria</h5>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">3</label>
                  </div>
            </div>
            <a href="#" class="btn btn-primary"> Agregar al carro </a>
            <div class="card-quantity">
                <button>+</button>
                <span class="cardquantity">1</span>
                <button>-</button>
            </div>
        </div>
    </div>
</div>
 

<app-fil-product-boton></app-fil-product-boton>
<app-carrito></app-carrito>