.d-flex.justify-content-between.g-2 {
    width: 50%;
}
.card-body {
    flex: 1 0 400px;
}
.card-image, .card-price {
    flex: 1 0 200px;
}
.btn-custom {
    background-color: #c6da52;
    color: #255000;
    border: none;
    margin: 5px;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

  