<div class="row">
    <div class="col-md-4" *ngFor="let producto of filtrarProductos()">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <!-- Aquí puedes mostrar otros detalles del producto si lo deseas -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mt-4">
      <a routerLink="filproductos" class="btn btn-lg btn-outline-secondary">Ver más Productos</a>
    </div>
  </div>