<div class="btn-group">
  <button class="btn btn-primary btn-custom" (click)="onFiltroSeleccionado('descuentos')">
    <i class="fas fa-percent icon"></i>
    Descuentos
  </button>
  <button class="btn btn-primary btn-custom" (click)="onFiltroSeleccionado('Fruta')">
    <i class="fas fa-apple-alt icon"></i>
    Frutas
  </button>
  <button class="btn btn-primary btn-custom" (click)="onFiltroSeleccionado('Verdura')">
    <i class="fas fa-carrot icon"></i>
    Verduras
  </button>
  <button class="btn btn-primary btn-custom" (click)="onFiltroSeleccionado('Hortaliza')">
    <i class="fas fa-seedling icon"></i>
    Hortizas
  </button>
  <button class="btn btn-primary btn-custom" (click)="onFiltroSeleccionado('Tubérculo')">
    <i class="fas fa-leaf icon"></i>
    Tubérculo
  </button>
  <button class="btn btn-primary btn-custom" (click)="onFiltroSeleccionado('promociones')">
    <i class="fas fa-gift icon"></i>
    Promociones
  </button>
  <button class="btn btn-primary btn-custom" (click)="onFiltroSeleccionado('Todos')">
    <i class="fas fa-cog icon"></i>
    Todos
  </button>
</div>
