<div class="btn-group">
    <button class="btn btn-primary" (click)="onFiltroSeleccionado('descuentos')">Descuentos</button>
    <button class="btn btn-primary" (click)="onFiltroSeleccionado('frutas')">Frutas</button>
    <button class="btn btn-primary" (click)="onFiltroSeleccionado('verduras')">Verduras</button>
    <button class="btn btn-primary" (click)="onFiltroSeleccionado('hortizas')">Hortizas</button>
    <button class="btn btn-primary" (click)="onFiltroSeleccionado('vegetales')">Vegetales</button>
    <button class="btn btn-primary" (click)="onFiltroSeleccionado('promociones')">Promociones</button>
    <button class="btn btn-primary" (click)="onFiltroSeleccionado('otros')">Otros</button>
  </div>
  