<div class="container mt-5 py-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card shadow">
          <div class="card-header">
            <h3 class="mb-0">Contáctanos</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="inputName">Nombre</label>
                <input type="text" class="form-control" id="inputName" placeholder="Nombre">
              </div>
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="inputMessage">Mensaje</label>
                <textarea class="form-control" id="inputMessage" rows="4" placeholder="Escribe tu mensaje aquí"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>