 .custom-button {
    color: black;
    background-color: #c6da52; /* Color de fondo */
    border: none; /* Quita el borde del botón */
    border-radius: 4px; /* Agrega bordes redondeados */
    padding: 10px 15px; /* Añade espacio alrededor del texto */
    font-size: 16px; /* Tamaño de fuente */
    margin-bottom: 10px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Agrega una transición suave */
  }

  .custom-button:hover {
    background-color: #ffff8b; /* Cambia el color de fondo al pasar el cursor */
  }

  .user-profile-card {
    background-color: #255000;
    border-radius: 8px;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .user-profile-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
