.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .btn-custom {
    background-color: #c6da52;
    color: #255000;
    border: none;
    margin: 5px;
    font-size: 16px;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .btn-custom:hover {
    background-color: #ffff8b;
  }
  
  .icon {
    margin-right: 5px;
  }
  .fixed-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 15px;
    z-index: 2;
  }
  