<!-- formulario-dinamico.component.html -->
<div class="container mt-5 pt-5">
  <div *ngFor="let form of forms; let i = index" class="mb-4">
    <form [formGroup]="form" class="row">
       <!-- Buscador de productos -->
       <input
       type="text"
       class="form-control"
       placeholder="Buscar producto"
       #searchInput
       (input)="onSearchProduct(form,searchInput.value)"
       list="frutasList"
       (change)="onSelectProduct(form,searchInput.value)"
     />
     <datalist id="frutasList">
       <option *ngFor="let fruta of frutas" [value]="fruta.nombre">
     </datalist>

     <!-- formulario _id-->
    <input type="hidden" formControlName="id" />
     
    <!-- Resto del formulario -->
    <div class="col-md-6 form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" formControlName="nombre" class="form-control" required  readonly="readonly">
    </div>

    <div class="col-md-6 form-group">
      <label for="tipoProducto">Tipo producto:</label>
      <input type="text" formControlName="tipoProducto" class="form-control" required readonly="readonly">
    </div>

    <div class="col-md-3 form-group">
      <label for="variedad">variedad:</label>
      <input type="text" formControlName="variedad" class="form-control" required readonly="readonly">
    </div>

    <div class="col-md-3 form-group">
      <label for="tipo">Presentacion:</label>
      <div class="form-check">
        <input type="radio" name="tipo" formControlName="tipo" value="bulto" class="form-check-input">
        <label class="form-check-label" for="tipo">Bulto</label>
      </div>
      <div class="form-check">
        <input type="radio" name="tipo" formControlName="tipo" value="canastilla" class="form-check-input">
        <label class="form-check-label" for="tipo">Canastilla</label>
      </div>
    </div>

    <!-- Mostrar campos específicos según el tipo seleccionado -->
    <div class="col-md-6 form-group" *ngIf="form.get('tipo')?.value === 'canastilla'">
      <label for="inventarioCanastilla">Inventario Canastillas:</label>
      <input type="number" name="inventarioCanastilla" formControlName="inventarioCanastilla" class="form-control" required>
    </div>
    
    <div class="col-md-6 form-group" *ngIf="form.get('tipo')?.value === 'bulto'">
      <label for="inventarioBulto">Inventario Bultos:</label>
      <input type="number" name="inventarioBulto" formControlName="inventarioBulto" class="form-control" required>
    </div>

    <!-- Nuevos campos -->
    <div class="col-md-6 form-group">
      <label for="valorMedioKilo">Valor Medio Kilo:</label>
      <input type="number" name="valorMedioKilo" formControlName="valorMedioKilo" class="form-control" required>
    </div>

    <div class="col-md-6 form-group">
      <label for="valorKilo">Valor Kilo:</label>
      <input type="number" name="valorKilo" formControlName="valorKilo" class="form-control" required>
    </div>

    <div class="col-md-6 form-group" *ngIf="form.get('tipo')?.value === 'canastilla'">
      <label for="valorC">Valor Canastilla:</label>
      <input type="number" name="valorC" formControlName="valorC" class="form-control" required>
    </div>

    <div class="col-md-6 form-group" *ngIf="form.get('tipo')?.value === 'bulto'">
      <label for="valorB">Valor Bulto:</label>
      <input type="number" name="valorB" formControlName="valorB" class="form-control" required>
    </div>
    <!-- Fin de nuevos campos -->

    <div class="col-md-12 form-group">
      <label for="descripcion">Descripción:</label>
      <textarea  formControlName="descripcion" class="form-control" required readonly="readonly"></textarea>
    </div>

    <!-- Otros campos del formulario si los hay -->

    <div class="col-md-12 form-group">
      <button type="button" (click)="removeForm(i)" class="btn btn-danger btn-borrar">Borrar formulario</button>
      <button type="button" (click)="clearForm(form)" class="btn btn-secondary btn-limpiar" > Limpiar formulario </button>
    </div>
  </form>
</div>

<!-- Botón "Agregar" centrado -->
<div class="col-md-12 btn-agregar mt-5 pt-3">
  <button type="button" (click)="addForm()" class="btn btn-primary">Agregar Producto</button>
  <button type="button" (click)="guardarFormularios()" class="btn btn-success">Guardar Formularios</button>
</div>
