<footer class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Sobre nuestra tienda</h4>
          <p>Somos una tienda de frutas comprometida en proporcionar productos frescos y de alta calidad a nuestros clientes. ¡Visítanos y descubre nuestra amplia variedad de frutas deliciosas!</p>
        </div>
        <div class="col-md-4">
          <h4>Horario de atención</h4>
          <p>Lunes a Viernes: 8:00 AM - 6:00 PM<br>
          Sábados: 9:00 AM - 5:00 PM<br>
          Domingos: Cerrado</p>
        </div>
        <div class="col-md-4">
          <h4>Contáctanos</h4>
          <p>Dirección: Calle Principal #123<br>
          Ciudad, País<br>
          Teléfono: +123456789<br>
          Email: info@tiendafrutas.com</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="list-inline social-icons">
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="bi bi-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 Tienda de Frutas. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
  