footer {
    background: linear-gradient(to right,  #255000,#c6da52,#ffff8b,#c6da52,#255000);
}

footer h4, footer p, .bi, footer a {
    color: #163000; /* Todo el texto y los íconos serán blancos */
}

footer a:hover {
    color: #9bfab0; /* El color del texto cambiará a un verde claro al pasar el ratón por encima */
}

footer hr {
    border-top-color: #9bfab0; /* Cambia el color de la línea horizontal a un verde claro */
}



.social-icons a:hover {
    background-color: #9bfab0; /* Cambia el color de fondo al pasar el ratón por encima */
}
